# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [ ]:
test = (1, 2, 3, 
        "hello", "world", "coucou",
        [1, 2, 3], [4, 5, 6], 
        {"hello" : 1, "world" : 2, "coucou" : 3},
        {"guillaume" : 1, "carolane" : 2, "iron": 3})

print(test[7][1])

# Mission 2

With same tuple, access the last 4 elements using slicing

In [4]:
test = (1, 2, 3, 
        "hello", "world", "coucou",
        [1, 2, 3], [4, 5, 6], 
        {"hello" : 1, "world" : 2, "coucou" : 3},
        {"guillaume" : 1, "carolane" : 2, "iron": 3})

print(test[-4:])

([1, 2, 3], [4, 5, 6], {'hello': 1, 'world': 2, 'coucou': 3}, {'guillaume': 1, 'carolane': 2, 'iron': 3})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [ ]:
test = (1, 2, 3, 
        "hello", "world", "coucou",
        [1, 2, 3], [4, 5, 6], 
        {"hello" : 1, "world" : 2, "coucou" : 3},
        {"guillaume" : 1, "carolane" : 2, "iron": 3})

test = list(test)
test[3] = "hello_modified"
test = tuple(test)

# Mission 4

Create 2 tuples that contain only integers.
Create a function that compares them to each other and indicates which one returns the highest total value after adding all their values together.

In [ ]:
test_1 = (1,2,3,4)
test_2 = (5,6,7,8)

def compare(tuple1, tuple2):
    total1 = sum(tuple1)
    total2 = sum(tuple2)
    if total1 > total2:
        print("le 1er tuple est le plus grand")
    elif total1 < total2:
        print("le deuxiÃ¨me tuple est le plus grand")

compare(test_1, test_2)

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a function that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [5]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

def change_value(user_tuple, position, new_value):

    user_tuple = list(user_tuple)
    user_tuple[position] = new_value
    user_tuple = tuple(user_tuple)
    print(user_tuple)

change_value(my_tuple, 1, "dresseur d'asticot")

('data analyst', "dresseur d'asticot", 'data engineer', 'data architect')